html {
    font-family: "Roboto Light", serif;
}
body {
    background: #e6e6e6;
}
.light {
    font-weight: 300;
}
.bold {
    font-weight: bold;
}
h1,h2,h3 {
    font-family: Montserrat, serif;
}
.shadow {
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}
.content {
    margin-top:2%;
}
.info {
    padding: 2rem 3rem;
}

.info h1 {
    font-size: 3rem;
}
.action-bar {
    background: #2196F3;
    color:#fff;
    transition: all 0.3s ease-out ;
}

.action-bar button {
    border-radius: 1000px;
    padding: 10px;
    border:none;
    height: 40px;
    text-transform: uppercase;
}